# Shell
.bash_history
.lesshst
*.swp
nohup.*

# Configmanagement
.ansible
*.retry

# Cache objects
packer_cache/
*.ova
*.ovf

# Logs
*.log


# Vagrant
*.box
.vagrant

# Misc
*.xml
*.img
*.ipf
*.old
*.out
out/*

# Keep
!.keep
!.gitkeep